name: Deploy to EC2 via CodeDeploy

on:
  push:
    branches:
      - master  # or main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1  # change to your region

      - name: Deploy to CodeDeploy
        uses: aws-actions/aws-codedeploy-deploy@v1
        with:
          application-name: robot-shop-app
          deployment-group: robot-shop-dg
          revision-location: repo
          bundle-type: tar
