name: CI/CD Robot-Shop

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy to AWS CodeDeploy
        uses: webfactory/create-aws-codedeploy-deployment@v1
        with:
          application-name: robot-shop
          deployment-group: robot-shop-deployment-group
          region: ap-south-1
          github-token: ${{ secrets.GITHUB_TOKEN }}
